APP_ENV=production
APP_URL=https://digital.suroohalshami.com

BUSINESS_PHONE=0551526225
WHATSAPP_NUMBER=966551526225
BUSINESS_EMAIL=

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=sorouh_digital
DB_USERNAME=
DB_PASSWORD=

GA4_MEASUREMENT_ID=
GTM_CONTAINER_ID=
